body {
  font-family: monospace;
  font-size: 16px;
  background: linear-gradient(to right, #02aab0, #00cdac);

}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #f2938d  ;
  color: white;
}

.present {
  background-color:  #beef00;
  color: white;
}

.future {
  background-color: #39a0ca;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  color: black;
  border: #000000 solid 2px;
}
 
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
